media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "poems"
    label: "Poems"
    folder: "content/poems"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }